#art {
  height: 10em;
}
div{white-space:pre;
  font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size:5px;
  vertical-align:top;
  overflow:hidden;display:inline-block;border:2px solid #eee;margin:1em;padding:1em}
